@import "normalize.styl"

letras = #9C9B87

body
	color letras
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size 16px
	font-size 90%
a
	color letras
	text-decoration none
.content
	min-height 30em
	width 88%
	margin 0 auto
	padding 10px
	padding-bottom 70px
.full-content
	max-width 1024px
	margin 0 auto
	min-height 100%
	/*Header y footer*/
	.Redes-row
		width 50%
		float left
	/*edad*/
	.Edad
		font-size 1.2em
		width 50%
		margin 5em auto
		&-pregunta
			padding 0 2em 1em
			background bottom left repeat-x url(../images/general/borde.png)
		&-opciones
			margin 3em 0
		&-respuesta
			width 49%
			float left
			font-size 2em
			padding 0.5em 0


	.contenido
		margin-top 3em
	.footer
		position relative
		.web-div-footer
			width 100%
			margin 0 auto
			background url(../images/desktop/marco-down.jpg) center no-repeat
			min-height 37em
			position absolute
			bottom 0
			z-index -1
		.copyright
			position absolute
			width 80%
			left 10%
			bottom 1em

.Producto
	margin-bottom 3em
	position relative
	.row
		display inline-block
		vertical-align top
	.imagen-producto
		width 45%
		img
			margin-top 4em
			text-align center
	.contenido-producto
		width 40%
		position relative
		left 5%
	&-titulo
		border-top 1px solid letras
		border-bottom 1px solid letras
		font-size 2em
		padding 1em 0
		text-align center
.Acta
	p
		border-bottom 1px solid letras
		border-bottom-style dashed

.link-tradicion
	text-align center
	font-size 1.3em
	color letras
	font-weight bold

.menu-item
	text-align center
	a
		margin 0 1em
		border 1px solid letras
		padding 0.5em 1em
		font-weight bold


.despedida
	width 60%
	margin 0 auto
	font-size 1.3em


.cerrado
	border 1px solid letras
	padding 1em 0

.titulo
	position relative
	width 90%
	left 5%
	text-align center
	font-size 1.3em
	padding 1em 0
	border-top 1px solid letras

.subtitulo
	font-size 1.3em
	padding 1em

.borde-right
	border-right 2px solid letras

.text-right
	text-align right
.text-center
	text-align center
.text-justify
	text-align justify
.text-left
	text-align left
.col-2
	width 49%
	float left
